{% extends "account/base.html" %}

{% block content %}
<form method="POST" action="{% url 'login:create_user' %}">
	{% csrf_token %}
	<label>ユーザーID</label>
	{{ form.username }}
	{{ form.username.errors }}
	<label>パスワード</label>
	{{ form.password1 }}
	{{ form.password1.errors }}
	<label>パスワード(確認)</label>
	{{ form.password2 }}
	{{ form.password2.errors }}
	<button type = "submit">登録</button>
</form>
<div>
	<a href="{% url 'account:login_index' %}" class="btn btn-info my-3" role="button">戻る</a>
</div>
{% endblock content %}
